<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="datalist">
                        <table class="table" id="dataList">
                            <colgroup>
                                <col width="5">
                                <col width="10%"/>
                                <col width="40%">
                                <col width="40%"/>
                            </colgroup>
                            <tr id="thead">
                                <th><input type="checkbox"></th>
                                 <th>NO</th>
                                 <th>KeyName</th>
                                 <th>Imformation</th>
                            </tr>
                            <tr id="open">
                                <td>...</td>
                                <td>...</td>
                                <td>...</td>
                                <td>...</td>
                            </tr>
                        </table>
                    </div>

<script>
$(function(){

    var getData = function(){
        $.get("data.json").success(function(data) {
            tempData = data;
            generatingTable(data);
        });
    };


    var generatingTable = function(data){
        var trStr = "<tr ><td><input type='checkbox'></td><td class='number'>{number}</td><td>{keyname}</td><td class='infomation'>{values}</td></tr>";
        var count=0;
        var n=6;
        var L = data.length;
        var str = "";
　　　　　//显示最后N条
        if((L<=n)==true){
            for(var i=0;i<L;i++){
                str=trStr.replace("{number}",i+1);
                str=str.replace("{keyname}",data[i].key);
                str=str.replace("{values}",data[i].version);
                $("#dataList").append(str);
            }
            $("#open").hide();
        }
        else{
            for (var i = L-n; i<L;i++) {
                str=trStr.replace("{number}",i+1);
                str=str.replace("{keyname}",data[i].key);
                str=str.replace("{values}",data[i].version);
                $("#dataList").append(str);
            };
        }
        //查看全部数据
        $("#checkAll").click(function(){
            if($(this).attr('data-flag')=='false'){
                if((L<=n)==true){
                    return;
                }
                for(var i=0;i< L-n;i++){
                    str=trStr.replace("{number}",i+1);
                    str=str.replace("{keyname}",data[i].key);
                    str=str.replace("{values}",data[i].cloudosclient_version);
                    $("#open").before(str);
                }
                $("#open").hide();
                $(this).text('部分显示');
                $(this).attr('data-flag',true);
            }else if($(this).attr('data-flag')=='true'){
                $('#thead').nextUntil('#open').remove();
                $("#open").show();
                $(this).text('显示全部');
                $(this).attr('data-flag',false);
            }
        });
    };

    getData();
});
</script>
</body>
</html>