{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Title</title>
</head>
<body>
<div>
    <a href="{% static "d4615ae6-328d-11ea-91e5-001a4a1601a0.pdf" %}">aa</a></a>
    <a href="{% static "444.docx" %}">aa</a></a>
    <iframe src='https://view.officeapps.live.com/op/view.aspx?src=http://192.168.4.81:5000/static/444.docx' width='100%' height='100%' frameborder='1'>
			</iframe>
{#<a href="http://ow365.cn/?i=12200&furl=http://192.168.4.81:5000/static/444.docx" target="_blank">点我预览</a>#}

</div>
</body>
</html>